#theList button{
    border: 0px;
    padding: 0px;
    min-width: 100%;
    box-shadow: 0px 0px 1px;
}
#theList button h1,
#theList button h2
{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 5px;
    text-align: left;
}
#theList button h2
{
    font-size: 15px;
}
#theList button img{
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 5px;
    overflow: hidden;
}
#edit{
    float: right;
    margin-top: -50px;
    margin-right: 5px;
}
#rssBox{
    float:left;
    width: 250px;
    min-height: 100%;
    background: gray;
    border-radius: 5px;
} 
#theDetails{
    float:right;
    width: calc(100% - 275px);
    min-height: 60%;
    background: lightgray;
    text-align:center;
    position: fixed;
    right: 10;
    border-radius: 5px;
}
#theDetails img{
    border-size: 0px;
    border-radius: 2%;
    box-shadow: 2px 2px 5px;
    position: relative;
    top: 10;
}
#readerHeader {
    padding-left: 10;
}
